* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive,sans-serif;
}

body{
    font-size: 16px;
}

/* ------ estructura ----- */

.contenedorCV {
    background-color: rgb(48, 58, 59);
    padding: 10px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    gap: 10px;
    grid-template-areas: "aside main";
}

aside {grid-area: aside;}
main {grid-area: main;}

aside, main {
    padding: 10px;
}

/* ------ aside ----- */

aside {
    background-color: #0C6156;
    box-shadow: 0 0 1px 2px#041613;
    color:rgb(236, 233, 233);
}

aside h2 {
    border-bottom: 2px solid white;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

aside ul {
    list-style-type: none;
}

.fotoPrincipal {
    border-radius: 20px 10px 50px 0;
    border: #0a4941 3px solid;
    width: 50%;
    display: block;
    margin: auto;

} 

.educacion li p:first-child {
    text-transform: uppercase;
}

/* ----- main ----- */

main {
    background-color: rgb(220, 235, 236);
    border: 1px solid #000;
}

main h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
}

main h3, main h4 {
    color: rgb(44, 44, 44);
}

.resumen__nombre {
    background-color: #a2c0bc;
    box-shadow: 0 0 1px 1px gray  inset;
    padding: 50px 20px;
    text-align: center;
}

.resumen__nombre h2{
    color: rgb(75, 75, 75);
    font-weight: normal;
    letter-spacing: 2px;
    margin: auto;
    padding-top: 20px;
    text-transform: capitalize;
}

.resumen__sobremi {
    background-color: #c0c9c6;
    padding: 20px;
}

.experiencia  {
    padding: 10px;
}

.experiencia article {
    margin: 20px 0;
}

/* ----- referencias */

.referencias {
    padding: 10px;
    text-align: center;
}

.referencias__lista {
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.referencias__lista article {
    min-width: 100px;
    max-width: 100px;
    margin: 20px 0;
}

.referencias__lista article img{
    width: 100%;
}

/* tablets */
@media (max-width: 992px) {

    .contenedorCV {
        width: 100%;
        margin: 0;
        grid-template-areas: "aside"
                             "main";
    }

    .referencias__lista article {
        min-width: 500px;
        max-width: 500px;
        margin: 30px 0px;
        font-size: 1.875rem;
    }
}